#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

body{
  background-color: rgb(255, 255, 255);
}

.square {
  width: 200px;
  height: 200px;
}
