#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

body{
  background-color: rgb(255, 255, 255);
}

.blue {
  width: 200px;
  height: 200px;
  background-color: rgb(169, 196, 255);
}

.red {
  width: 200px;
  height: 200px;
  background-color: rgb(204, 144, 144);
}
